# Analysez des donn√©es de syst√®mes √©ducatifs

## Sommaire

### Cours 1
- √âtape 1 : Chargez les donn√©es  
- √âtape 2 : Collectez des informations basiques sur chaque jeu de donn√©es  
- √âtape 3 : R√©alisez votre premier nettoyage  
- √âtape 4 : V√©rification  

### Cours 2
- √âtape 1 : R√©duisez le p√©rim√®tre en utilisant une approche m√©tier  
- √âtape 2 : R√©duisez le p√©rim√®tre en utilisant une approche data  
- √âtape 3 : Consolidez vos r√©sultats dans un dataframe (pays, indicateurs)  
- √âtape 4 : V√©rification  

### Cours 3
- √âtape 1 : Identifiez les indicateurs redondants d‚Äôun point de vue statistique  
- √âtape 2 : Analysez vos indicateurs restants et formulez une liste de pays pertinents pour l‚Äôimplantation d‚Äôune academy  
- √âtape 3 : Formalisez vos r√©sultats  
- √âtape 4 : Rendez vos analyses et vos r√©sultats reproductibles par vos coll√®gues  
- √âtape 5 : V√©rification

# Cours 1

## √âtape 1 : Chargez les donn√©es

Nous avons cinq donn√©es que nous allons charger pour voir ce qu‚Äôelles contiennent.  
Ces donn√©es sont :

- **EdStatsCountry.csv**
- **EdStatsCountry-Series.csv**
- **EdStatsData.csv**
- **EdStatsFootNote.csv**
- **EdStatsSeries.csv**

### Donn√©e 1 EdStatsCountry.csv

In [1]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsCountry.csv")

In [2]:
# afficher les 5 premi√®res lignes
display(data.head())

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

Se qu'on peux remarquer dans se tableau sont:
Ce tableau fournit des informations g√©n√©rales et statistiques sur chaque pays.

- `Country Code` : le code ISO √† trois lettres qui identifie chaque pays
- `Short Name` : le nom court utilis√© pour d√©signer le pays
- `Long Name / Table Name`: le nom officiel complet du pays
- `2-alpha code` : le code ISO √† deux lettres
- `Currency Unit` : la monnaie utilis√©e dans le pays
- `Region` : la zone g√©ographique √† laquelle le pays appartient
- `Income Group` : le niveau de revenu du pays (ex. : *Low income*, *High income*)
- `IMF data dissemination standard` : indique la qualit√© du partage des donn√©es √©conomiques selon le FMI
- `Latest population census` : ann√©e du dernier recensement de population
- `Latest trade data` : ann√©e des derni√®res donn√©es commerciales disponibles
- `Unnamed: 31` : probablement une colonne vide ou non renseign√©e


Remarque : ce tableau est utile pour **filtrer les pays selon leur niveau de donn√©es disponibles ou leur profil √©conomique**.

### Donn√©e 2 EdStatsCountry-Series.csv

In [3]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsCountry-Series.csv")

In [4]:
# afficher les 5 premi√®res lignes
display(data.head())

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN

Se qu'on peux voir dans se tableau sont:

- `CountryCode` : code ISO du pays 
- `SeriesCode` : identifiant de l‚Äôindicateur 
- `DESCRIPTION` : source ou m√©thode de calcul 
- `Unnamed: 3` : colonne vide 

Remarque : ce tableau permet de **comprendre quels indicateurs sont disponibles pour chaque pays**.

### Donn√©e 3 EdStatsData.csv

In [5]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsData.csv")

In [6]:
# afficher les 5 premi√®res lignes
display(data.head())

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Se qu'on peut voir dans se tableau sont: 
Chaque ligne repr√©sente un indicateur d'inscription scolaire pour une r√©gion (ici : Arab World), sur une s√©rie d'ann√©es.
- `Country Name` : nom du pays ou de la r√©gion 
- `Country Code` : code ISO 
- `Indicator Name` : nom de l‚Äôindicateur 
- `Indicator Code` : identifiant de l‚Äôindicateur 
- `Colonnes de dates` (1970 √† 2090) 
Remarque : la majorit√© des valeurs sont manquantes (`NaN`), ce qui limite l‚Äôanalyse directe.

### Donn√©e 4 EdStatsFootNote.csv

In [7]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsFootNote.csv")

In [8]:
# afficher les 5 premi√®res lignes
display(data.head())

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

Se qu'on peut voir dans se tableau c'est: 
- `CountryCode` : code ISO du pays
- `SeriesCode` : identifiant de l‚Äôindicateur
- `Year` : ann√©e de la donn√©e
- `DESCRIPTION` : commentaire sur la donn√©e (ici : "Country estimation.")
- `Unnamed: 4` : colonne vide

### Donn√©e 5 EdStatsSeries.csv

In [9]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsSeries.csv")

In [10]:
# afficher les 5 premi√®res lignes
display(data.head())

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Se qu'on peut voir dans se tableau sont:
Ce tableau d√©crit chaque indicateur statistique li√© √† l‚Äô√©ducation, avec ses m√©tadonn√©es et d√©finitions.

- `Series Code` : identifiant unique de l‚Äôindicateur 
- `Topic` : th√®me g√©n√©ral
- `Indicator Name` : nom complet de l‚Äôindicateur
- `Short definition` / `Long definition` : d√©finitions synth√©tique et d√©taill√©e
- `Unit of measure`, `Periodicity`, `Base Period` : souvent vides ici
- `Source` : origine des donn√©es 
- Autres colonnes : commentaires, liens, pertinence, licence, etc.

Remarque : ce tableau sert de **r√©f√©rentiel pour interpr√©ter les codes d‚Äôindicateurs** pr√©sents dans les autres jeux de donn√©es.

## √âtape 2 : Collectez des informations basiques sur chaque jeu de donn√©es

Dans cette √©tape, nous allons explorer et nettoyer chaque fichier de donn√©es.  
Nous allons analyser la structure des datasets, d√©tecter les doublons et valeurs manquantes, et produire un jeu de donn√©es propre.

### üîπ voici se qu'on va faire 

1. D√©finir ce que repr√©sente **une ligne** du fichier  
2. Calculer le **nombre de lignes et de colonnes**  
3. Identifier et compter les **doublons**  
4. Supprimer les **doublons** d√©tect√©s  
5. Calculer la **proportion de valeurs manquantes** par colonne  
6. Supprimer les **colonnes inutilisables**  
7. Pour les colonnes **num√©riques** 
8. Pour les colonnes **cat√©gorielles**

## Donn√©e 1 EdStatsCountry.csv

### 1.D√©finir ce que repr√©sente une ligne du fichier

In [4]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsCountry.csv")

In [5]:
# afficher les 5 premi√®res lignes
display(data.head())

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

In [6]:
df.info()

NameError: name 'df' is not defined

<span style="color:red; font-weight:bold;">‚ö†Ô∏è Attention :</span> Selon les informations recherch√©es sur internet, cette erreur se produit √† l'import du jeu de donn√©es. Il faut remplacer `data` par `df`.

In [7]:
import pandas as pd
df = pd.read_csv("EdStatsCountry.csv")

In [8]:
display(data.head())

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 32 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       241 non-null    object
 1   Short Name                                         241 non-null    object
 2   Table Name                                         241 non-null    object
 3   Long Name                                          241 non-null    object
 4   2-alpha code                                       238 non-null    object
 5   Currency Unit                                      215 non-null    object
 6   Special Notes                                      145 non-null    object
 7   Region                                             214 non-null    object
 8   Income Group                                       214 non-null    object
 9   WB-2 code                                          240 non-null    object
 10  National accounts base year                        205 non-null    object
 11  National accounts reference year                   32 non-null     float64
 12  SNA price valuation                                197 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       58 non-null     object
 15  System of National Accounts                        215 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  PPP survey year                                    145 non-null    object
 18  Balance of Payments Manual in use                  181 non-null    object
 19  External debt Reporting status                     124 non-null    object
 20  System of trade                                    200 non-null    object
 21  Government Accounting concept                      161 non-null    object
 22  IMF data dissemination standard                    181 non-null    object
 23  Latest population census                           213 non-null    object
 24  Latest household survey                            141 non-null    object
 25  Source of most recent Income and expenditure data  160 non-null    object
 26  Vital registration complete                        111 non-null    object
 27  Latest agricultural census                         142 non-null    object
 28  Latest industrial data                             107 non-null    float64
 29  Latest trade data                                  185 non-null    float64
 30  Latest water withdrawal data                       179 non-null    object
 31  Unnamed: 31                                        0 non-null      float64
dtypes: float64(4), object(28)
memory usage: 60.4+ KB

Se que on peut observer 
- Le dataset contient **241 lignes** et **32 colonnes**, chaque ligne correspondant probablement √† un pays.
- La majorit√© des colonnes sont de type **object** (texte/cat√©goriel), seules 4 colonnes sont num√©riques (`float64`).
- Certaines colonnes pr√©sentent **beaucoup de valeurs manquantes** :
  - `Unnamed: 31` est enti√®rement vide.
  - `National accounts reference year` et `Latest industrial data` ont beaucoup de valeurs manquantes.
- Quelques colonnes sont presque compl√®tes : `Country Code`, `Short Name`, `Table Name`, `Long Name`.
- D‚Äôautres colonnes tr√®s peu renseign√©es (`Other groups`, `Alternative conversion factor`) pourraient √™tre **inutilisables pour l‚Äôanalyse**.

**Conclusion :** Le dataset est suffisamment complet pour certaines informations de base sur les pays, mais plusieurs colonnes devront √™tre nettoy√©es ou supprim√©es avant toute analyse.

### 2.Calculer le nombre de ligne et de colonne

In [11]:
print("Dimensions :", df.shape)

Dimensions : (241, 32)

### 3.Identifier et compter les doublons

In [13]:
print("Doublons :", df.duplicated().sum())

Doublons : 0

### 4 .Supprimer les doublons

Dans la jeu de donn√©e EdStatsCountry.csv il n'y a pas de doublon donc aucun a supprimer

### 5 .Calculer la proportion de valeurs manquantes par colonne

In [14]:
print("Valeurs manquantes (%) :")
print(df.isnull().mean() * 100)

Valeurs manquantes (%) :
Country Code                                           0.000000
Short Name                                             0.000000
Table Name                                             0.000000
Long Name                                              0.000000
2-alpha code                                           1.244813
Currency Unit                                         10.788382
Special Notes                                         39.834025
Region                                                11.203320
Income Group                                          11.203320
WB-2 code                                              0.414938
National accounts base year                           14.937759
National accounts reference year                      86.721992
SNA price valuation                                   18.257261
Lending category                                      40.248963
Other groups                                          75.933610
System of National Accounts                           10.788382
Alternative conversion factor                         80.497925
PPP survey year                                       39.834025
Balance of Payments Manual in use                     24.896266
External debt Reporting status                        48.547718
System of trade                                       17.012448
Government Accounting concept                         33.195021
IMF data dissemination standard                       24.896266
Latest population census                              11.618257
Latest household survey                               41.493776
Source of most recent Income and expenditure data     33.609959
Vital registration complete                           53.941909
Latest agricultural census                            41.078838
Latest industrial data                                55.601660
Latest trade data                                     23.236515
Latest water withdrawal data                          25.726141
Unnamed: 31                                          100.000000
dtype: float64