# Analysez des données de systèmes éducatifs

## Sommaire

- [Partie 1](#Partie-1)
  - Étape 1 : Chargez les données  
  - Étape 2 : Collectez des informations basiques sur chaque jeu de données  
  - Étape 3 : Réalisez votre premier nettoyage  

- [Partie 2](#Partie-2)
  - Étape 1 : Réduisez le périmètre en utilisant une approche métier  
  - Étape 2 : Réduisez le périmètre en utilisant une approche data  
  - Étape 3 : Consolidez vos résultats dans un dataframe (pays, indicateurs)  

- [Partie 3](#Partie-3)
  - Étape 1 : Identifiez les indicateurs redondants d’un point de vue statistique  
  - Étape 2 : Analysez vos indicateurs restants et formulez une liste de pays pertinents pour l’implantation d’une academy  
  - Étape 3 : Formalisez vos résultats  
  - Étape 4 : Rendez vos analyses et vos résultats reproductibles par vos collègues

## Partie 1

### Étape 1 : Chargez les données

Nous avons cinq données que nous allons charger pour voir ce qu’elles contiennent.  
Ces données sont :

- **EdStatsCountry.csv**
- **EdStatsCountry-Series.csv**
- **EdStatsData.csv**
- **EdStatsFootNote.csv**
- **EdStatsSeries.csv**

#### Donnée 1 EdStatsCountry.csv

In [1]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsCountry.csv")

In [2]:
# afficher les 5 premières lignes
display(data.head())

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

Se qu'on peux remarquer dans se tableau sont:
Ce tableau fournit des informations générales et statistiques sur chaque pays.

- `Country Code` : le code ISO à trois lettres qui identifie chaque pays
- `Short Name` : le nom court utilisé pour désigner le pays
- `Long Name / Table Name`: le nom officiel complet du pays
- `2-alpha code` : le code ISO à deux lettres
- `Currency Unit` : la monnaie utilisée dans le pays
- `Region` : la zone géographique à laquelle le pays appartient
- `Income Group` : le niveau de revenu du pays (ex. : *Low income*, *High income*)
- `IMF data dissemination standard` : indique la qualité du partage des données économiques selon le FMI
- `Latest population census` : année du dernier recensement de population
- `Latest trade data` : année des dernières données commerciales disponibles
- `Unnamed: 31` : probablement une colonne vide ou non renseignée


Remarque : ce tableau est utile pour **filtrer les pays selon leur niveau de données disponibles ou leur profil économique**.

#### Donnée 2 EdStatsCountry-Series.csv

In [3]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsCountry-Series.csv")

In [4]:
# afficher les 5 premières lignes
display(data.head())

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN

Se qu'on peux voir dans se tableau sont:

- `CountryCode` : code ISO du pays 
- `SeriesCode` : identifiant de l’indicateur 
- `DESCRIPTION` : source ou méthode de calcul 
- `Unnamed: 3` : colonne vide 

Remarque : ce tableau permet de **comprendre quels indicateurs sont disponibles pour chaque pays**.

#### Donnée 3 EdStatsData.csv

In [5]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsData.csv")

In [6]:
# afficher les 5 premières lignes
display(data.head())

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Se qu'on peut voir dans se tableau sont: 
Chaque ligne représente un indicateur d'inscription scolaire pour une région (ici : Arab World), sur une série d'années.
- `Country Name` : nom du pays ou de la région 
- `Country Code` : code ISO 
- `Indicator Name` : nom de l’indicateur 
- `Indicator Code` : identifiant de l’indicateur 
- `Colonnes de dates` (1970 à 2090) 
Remarque : la majorité des valeurs sont manquantes (`NaN`), ce qui limite l’analyse directe.

#### Donnée 4 EdStatsFootNote.csv

In [7]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsFootNote.csv")

In [8]:
# afficher les 5 premières lignes
display(data.head())

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

Se qu'on peut voir dans se tableau c'est: 
- `CountryCode` : code ISO du pays
- `SeriesCode` : identifiant de l’indicateur
- `Year` : année de la donnée
- `DESCRIPTION` : commentaire sur la donnée (ici : "Country estimation.")
- `Unnamed: 4` : colonne vide

#### Donnée 5 EdStatsSeries.csv

In [9]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsSeries.csv")

In [10]:
# afficher les 5 premières lignes
display(data.head())

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Se qu'on peut voir dans se tableau sont:
Ce tableau décrit chaque indicateur statistique lié à l’éducation, avec ses métadonnées et définitions.

- `Series Code` : identifiant unique de l’indicateur 
- `Topic` : thème général
- `Indicator Name` : nom complet de l’indicateur
- `Short definition` / `Long definition` : définitions synthétique et détaillée
- `Unit of measure`, `Periodicity`, `Base Period` : souvent vides ici
- `Source` : origine des données 
- Autres colonnes : commentaires, liens, pertinence, licence, etc.

Remarque : ce tableau sert de **référentiel pour interpréter les codes d’indicateurs** présents dans les autres jeux de données.

### Étape 2 : Collectez des informations basiques sur chaque jeu de données

Dans cette étape, nous allons explorer et nettoyer chaque fichier de données.  
Nous allons analyser la structure des datasets, détecter les doublons et valeurs manquantes, et produire un jeu de données propre.

**voici se qu'on va faire** 

1. Définir ce que représente **une ligne** du fichier  
2. Calculer le **nombre de lignes et de colonnes**  
3. Identifier et compter les **doublons**  
4. Supprimer les **doublons** détectés  
5. Calculer la **proportion de valeurs manquantes** par colonne  
6. Supprimer les **colonnes inutilisables**  
7. Pour les colonnes **numériques** 
8. Pour les colonnes **catégorielles**

#### Donnée 1 EdStatsCountry.csv

##### 1.Définir ce que représente une ligne du fichier

In [4]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsCountry.csv")

In [5]:
# afficher les 5 premières lignes
display(data.head())

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

In [6]:
df.info()

NameError: name 'df' is not defined

<span style="color:red; font-weight:bold;">⚠️ Attention :</span> Selon les informations recherchées sur internet, cette erreur se produit à l'import du jeu de données. Il faut remplacer `data` par `df`.

In [16]:
import pandas as pd
df = pd.read_csv("EdStatsCountry.csv")

In [17]:
display(df.head())

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 32 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       241 non-null    object
 1   Short Name                                         241 non-null    object
 2   Table Name                                         241 non-null    object
 3   Long Name                                          241 non-null    object
 4   2-alpha code                                       238 non-null    object
 5   Currency Unit                                      215 non-null    object
 6   Special Notes                                      145 non-null    object
 7   Region                                             214 non-null    object
 8   Income Group                                       214 non-null    object
 9   WB-2 code                                          240 non-null    object
 10  National accounts base year                        205 non-null    object
 11  National accounts reference year                   32 non-null     float64
 12  SNA price valuation                                197 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       58 non-null     object
 15  System of National Accounts                        215 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  PPP survey year                                    145 non-null    object
 18  Balance of Payments Manual in use                  181 non-null    object
 19  External debt Reporting status                     124 non-null    object
 20  System of trade                                    200 non-null    object
 21  Government Accounting concept                      161 non-null    object
 22  IMF data dissemination standard                    181 non-null    object
 23  Latest population census                           213 non-null    object
 24  Latest household survey                            141 non-null    object
 25  Source of most recent Income and expenditure data  160 non-null    object
 26  Vital registration complete                        111 non-null    object
 27  Latest agricultural census                         142 non-null    object
 28  Latest industrial data                             107 non-null    float64
 29  Latest trade data                                  185 non-null    float64
 30  Latest water withdrawal data                       179 non-null    object
 31  Unnamed: 31                                        0 non-null      float64
dtypes: float64(4), object(28)
memory usage: 60.4+ KB

Se que on peut observer 
- Le dataset contient **241 lignes** et **32 colonnes**, chaque ligne correspondant probablement à un pays.
- La majorité des colonnes sont de type **object** (texte/catégoriel), seules 4 colonnes sont numériques (`float64`).
- Certaines colonnes présentent **beaucoup de valeurs manquantes** :
  - `Unnamed: 31` est entièrement vide.
  - `National accounts reference year` et `Latest industrial data` ont beaucoup de valeurs manquantes.
- Quelques colonnes sont presque complètes : `Country Code`, `Short Name`, `Table Name`, `Long Name`.
- D’autres colonnes très peu renseignées (`Other groups`, `Alternative conversion factor`) pourraient être **inutilisables pour l’analyse**.

**Conclusion :** Le dataset est suffisamment complet pour certaines informations de base sur les pays, mais plusieurs colonnes devront être nettoyées ou supprimées avant toute analyse.

##### 2.Calculer le nombre de ligne et de colonne

In [3]:
print("Dimensions :", df.shape)

Dimensions : (241, 32)

##### 3.Identifier et compter les doublons

In [4]:
print("Doublons :", df.duplicated().sum())

Doublons : 0

##### 4 .Supprimer les doublons

Dans la jeu de donnée EdStatsCountry.csv il n'y a pas de doublon donc aucun a supprimer

##### 5 .Calculer la proportion de valeurs manquantes par colonne

In [7]:
print("Valeurs manquantes (%) :")
print(df.isnull().mean() * 100)

Valeurs manquantes (%) :
Country Code                                           0.000000
Short Name                                             0.000000
Table Name                                             0.000000
Long Name                                              0.000000
2-alpha code                                           1.244813
Currency Unit                                         10.788382
Special Notes                                         39.834025
Region                                                11.203320
Income Group                                          11.203320
WB-2 code                                              0.414938
National accounts base year                           14.937759
National accounts reference year                      86.721992
SNA price valuation                                   18.257261
Lending category                                      40.248963
Other groups                                          75.933610
System of National Accounts                           10.788382
Alternative conversion factor                         80.497925
PPP survey year                                       39.834025
Balance of Payments Manual in use                     24.896266
External debt Reporting status                        48.547718
System of trade                                       17.012448
Government Accounting concept                         33.195021
IMF data dissemination standard                       24.896266
Latest population census                              11.618257
Latest household survey                               41.493776
Source of most recent Income and expenditure data     33.609959
Vital registration complete                           53.941909
Latest agricultural census                            41.078838
Latest industrial data                                55.601660
Latest trade data                                     23.236515
Latest water withdrawal data                          25.726141
Unnamed: 31                                          100.000000
dtype: float64

#### Donnée 2 EdStatsCountry-Series.csv

##### 1.Définir ce que représente une ligne du fichier

In [9]:
import pandas as pd
df = pd.read_csv("EdStatsCountry-Series.csv")

In [10]:
display(df.head())

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  613 non-null    object
 1   SeriesCode   613 non-null    object
 2   DESCRIPTION  613 non-null    object
 3   Unnamed: 3   0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 19.3+ KB

Se qu'on l'on observe
- **Nombre de lignes :** 613  
- **Nombre de colonnes :** 4  

**Colonnes :**  
- `CountryCode` : complète, type texte (`object`)  
- `SeriesCode` : complète, type texte (`object`)  
- `DESCRIPTION` : complète, type texte (`object`)  
- `Unnamed: 3` : entièrement vide (0 valeurs), type numérique (`float64`)

##### 2.Calculer le nombre de ligne et de colonne

In [12]:
print("Dimensions :", df.shape)

Dimensions : (613, 4)

##### 3.Identifier et compter les doublons

In [13]:
print("Doublons :", df.duplicated().sum())

Doublons : 0

##### 4 .Supprimer les doublons

Dans la jeu de donnée EdStatsCountry-Series.csv il n'y a pas de doublon donc aucun a supprimer

##### 5 .Calculer la proportion de valeurs manquantes par colonne

In [14]:
print("Valeurs manquantes (%) :")
print(df.isnull().mean() * 100)

Valeurs manquantes (%) :
CountryCode      0.0
SeriesCode       0.0
DESCRIPTION      0.0
Unnamed: 3     100.0
dtype: float64

#### Donnée 3 EdStatsData.csv

##### 1.Définir ce que représente une ligne du fichier

In [19]:
import pandas as pd
df = pd.read_csv("EdStatsData.csv")

In [20]:
display(df.head())

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 70 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    886930 non-null  object
 1   Country Code    886930 non-null  object
 2   Indicator Name  886930 non-null  object
 3   Indicator Code  886930 non-null  object
 4   1970            72288 non-null   float64
 5   1971            35537 non-null   float64
 6   1972            35619 non-null   float64
 7   1973            35545 non-null   float64
 8   1974            35730 non-null   float64
 9   1975            87306 non-null   float64
 10  1976            37483 non-null   float64
 11  1977            37574 non-null   float64
 12  1978            37576 non-null   float64
 13  1979            36809 non-null   float64
 14  1980            89122 non-null   float64
 15  1981            38777 non-null   float64
 16  1982            37511 non-null   float64
 17  1983            38460 non-null   float64
 18  1984            38606 non-null   float64
 19  1985            90296 non-null   float64
 20  1986            39372 non-null   float64
 21  1987            38641 non-null   float64
 22  1988            38552 non-null   float64
 23  1989            37540 non-null   float64
 24  1990            124405 non-null  float64
 25  1991            74437 non-null   float64
 26  1992            75543 non-null   float64
 27  1993            75793 non-null   float64
 28  1994            77462 non-null   float64
 29  1995            131361 non-null  float64
 30  1996            76807 non-null   float64
 31  1997            73453 non-null   float64
 32  1998            84914 non-null   float64
 33  1999            118839 non-null  float64
 34  2000            176676 non-null  float64
 35  2001            123509 non-null  float64
 36  2002            124205 non-null  float64
 37  2003            130363 non-null  float64
 38  2004            128814 non-null  float64
 39  2005            184108 non-null  float64
 40  2006            140312 non-null  float64
 41  2007            137272 non-null  float64
 42  2008            134387 non-null  float64
 43  2009            142108 non-null  float64
 44  2010            242442 non-null  float64
 45  2011            146012 non-null  float64
 46  2012            147264 non-null  float64
 47  2013            137509 non-null  float64
 48  2014            113789 non-null  float64
 49  2015            131058 non-null  float64
 50  2016            16460 non-null   float64
 51  2017            143 non-null     float64
 52  2020            51436 non-null   float64
 53  2025            51436 non-null   float64
 54  2030            51436 non-null   float64
 55  2035            51436 non-null   float64
 56  2040            51436 non-null   float64
 57  2045            51436 non-null   float64
 58  2050            51436 non-null   float64
 59  2055            51436 non-null   float64
 60  2060            51436 non-null   float64
 61  2065            51436 non-null   float64
 62  2070            51436 non-null   float64
 63  2075            51436 non-null   float64
 64  2080            51436 non-null   float64
 65  2085            51436 non-null   float64
 66  2090            51436 non-null   float64
 67  2095            51436 non-null   float64
 68  2100            51436 non-null   float64
 69  Unnamed: 69     0 non-null       float64
dtypes: float64(66), object(4)
memory usage: 473.7+ MB

##### 2.Calculer le nombre de ligne et de colonne

In [22]:
print("Dimensions :", df.shape)

Dimensions : (886930, 70)

##### 3.Identifier et compter les doublons

In [26]:
# Affiche un booléen pour chaque ligne : True si la ligne est un doublon
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
886925    False
886926    False
886927    False
886928    False
886929    False
Length: 886930, dtype: bool

In [23]:
print("Doublons :", df.duplicated().sum())

Doublons : 0

##### 4 .Supprimer les doublons

##### 5 .Calculer la proportion de valeurs manquantes par colonne

In [24]:
print("Valeurs manquantes (%) :")
print(df.isnull().mean() * 100)

Valeurs manquantes (%) :
Country Name        0.000000
Country Code        0.000000
Indicator Name      0.000000
Indicator Code      0.000000
1970               91.849639
                     ...
2085               94.200670
2090               94.200670
2095               94.200670
2100               94.200670
Unnamed: 69       100.000000
Length: 70, dtype: float64

#### Donnée 4 EdStatsData.csv

##### 1.Définir ce que représente une ligne du fichier

##### 2.Calculer le nombre de ligne et de colonne

##### 3.Identifier et compter les doublons

##### 4 .Supprimer les doublons

##### 5 .Calculer la proportion de valeurs manquantes par colonne

#### Donnée 5 EdStatsData.csv

##### 1.Définir ce que représente une ligne du fichier

##### 2.Calculer le nombre de ligne et de colonne

##### 3.Identifier et compter les doublons

##### 4 .Supprimer les doublons

##### 5 .Calculer la proportion de valeurs manquantes par colonne

### Étape 3 : Réalisez votre premier nettoyage

Dans cette étape, nous allons explorer et nettoyer les fichiers liés aux pays et aux séries de données.  
Nous allons identifier les faux pays, filtrer les lignes incorrectes et produire des dataframes cohérents entre eux.

**Voici ce qu'on va faire**
1. Examiner le fichier **Country** pour détecter les **faux pays**.
2. Compter le **nombre de lignes et de colonnes** dans chaque dataframe.
3. Identifier et supprimer les **lignes correspondant aux faux pays** dans `Country`.
4. Pour les autres dataframes (`Country-Series`, `FootNote`, `Data`) :
   - Stocker les faux pays dans une liste et filtrer avec `isin()` **ou**
   - Utiliser un **inner join** avec le dataframe `Country` nettoyé.
5. Vérifier que les dataframes filtrés restent **cohérents** entre eux.
6. Sauvegarder les versions **nettoyées** des dataframes pour l’analyse suivante.

#### Donnée 1 EdStatsCountry.csv

#### Donnée 2 EdStatsCountry-Series.csv

#### Donnée 3 EdStatsData.csv

#### Donnée 4 EdStatsData.csv

#### Donnée 5 EdStatsData.csv

## Partie 2

### Étape 1 : Réduisez le périmètre en utilisant une approche métier

### Étape 2 : Réduisez le périmètre en utilisant une approche data

### Étape 3 : Consolidez vos résultats dans un dataframe (pays, indicateurs)

## Partie 3

### Étape 1 : Identifiez les indicateurs redondants d’un point de vue statistique

### Étape 2 : Analysez vos indicateurs restants et formulez une liste de pays pertinents pour l’implantation d’une academy

### Étape 3 : Formalisez vos résultats

### Étape 4 : Rendez vos analyses et vos résultats reproductibles par vos collègues