# Analysez des données de systèmes éducatifs

## Sommaire

### Cours 1
- Étape 1 : Chargez les données  
- Étape 2 : Collectez des informations basiques sur chaque jeu de données  
- Étape 3 : Réalisez votre premier nettoyage  
- Étape 4 : Vérification  

### Cours 2
- Étape 1 : Réduisez le périmètre en utilisant une approche métier  
- Étape 2 : Réduisez le périmètre en utilisant une approche data  
- Étape 3 : Consolidez vos résultats dans un dataframe (pays, indicateurs)  
- Étape 4 : Vérification  

### Cours 3
- Étape 1 : Identifiez les indicateurs redondants d’un point de vue statistique  
- Étape 2 : Analysez vos indicateurs restants et formulez une liste de pays pertinents pour l’implantation d’une academy  
- Étape 3 : Formalisez vos résultats  
- Étape 4 : Rendez vos analyses et vos résultats reproductibles par vos collègues  
- Étape 5 : Vérification

## Cours 1

- Étape 1 : Chargez les données

Pour la premiere partie on va charger 5 données

*Jeu de donné EdStatsCountry.csv*

In [6]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsCountry.csv")

*Les 5 premieres lignes*

In [7]:
# afficher les 5 premières lignes
display(data.head())

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

### Donnée 1 : Informations
Chaque ligne représente un pays avec ses métadonnées : codes, région, groupe de revenu, recensements, enquêtes, etc.

*Jeu de donné EdStatsCountry-series.csv*

In [9]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsCountry-series.csv")

In [9]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsCountry-series.csv")

In [9]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsCountry-series.csv")

In [10]:
# afficher les 5 premières lignes
display(data.head())

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN

### Donnée 2 : Informations
Chaque ligne représente un pays avec ses seriesCode

*Jeu de donné EdStatsData.csv*

In [11]:
# chargement du fichier
import pandas as pd
data = pd.read_csv("EdStatsData.csv")

In [12]:
# afficher les 5 premières lignes
display(data.head())

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Donnée 3 : Informations
Chaque ligne représente un pays avec ses seriesCode